@tailwind base;
@tailwind components;
@tailwind utilities;

*{margin: 0; padding: 0; box-sizing: border-box;}


body{
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
}


.container{
  width: 90%;
  margin: auto;
}

header .top-strip{}

.link:hover{
  color: #ff5252;
}

.nav .submenu{
  visibility: hidden;
}

.nav li:hover .submenu{
  opacity: 1 !important;
  visibility: inherit;
  top: 100%;
}

.nav li .submenu li:hover button{
  color: #ff5252 !important;
}


.nav .submenu li .submenu{
  top: 0px !important;
  left: 120% !important;
  opacity: 0 !important;
}

.nav .submenu li:hover .submenu{
  left: 100% !important;
  opacity: 1 !important;
}

.nav li .submenu li .submenu button{
  color: rgba(0, 0, 0, 0.8) !important;
}
.nav li .submenu li .submenu button:hover{
  color: #ff5252 !important;
}
